
<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>PULZION'18</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	<body style="background-color: #222;color:aqua;font-family:'serif';">
	
		{% if user.is_authenticated %}
		<br>
		<a href="/logout/"><h4 style="top:2%;margin-left:1%;color: white;">Logout</h4></a>
		<center>
		<h1 style="margin-top: 10%;">Registration App</h1>
		
		<br><br>
		{% if messages %}
		{% for msg in messages %}
		<h3>{{ msg }}</h3>
		{% endfor %}
		{% endif %}
		<form action = "{% url 'dbms:check' %}" method="post">
			{% csrf_token %}
			<div class="form-group" style="color:black;">
			<p style="color:aqua;">Enter Receipt Number :</p>
			<input type="text" name="rno"><br>
			</div>
			<input type="submit" value="Check" name='check'  class="btn btn-default">
		</form>
		<br><br>
		<a href="/certify/"><h4 style="color: white;">Click to Acknowledge certification!</h4></a>
		<br><br>
		<a href="/chosevent/"><h4 style="color: white;">Click to check Event-based Participant Info!</h4></a>

		{% else %}
		<br>
		<div style="color:aqua;margin-top:10%;text-align: center;">
		<a href="/login/"><h2 style="color:aqua;">Login</h2></a>
		</div>
		{% endif %}
		</center>

	</body>
	</html>	
	

